@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat";
}

ul {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    list-style-type: none;
}